<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Big Three</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="static/asset/img/favicon.png" rel="icon">
  <link href="static/asset/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/asset/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/asset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/asset/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/asset/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/asset/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        
          <img class="" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.etG2lm7WNWRsrhb5sYmK9gAAAA%26pid%3DApi&f=1&ipt=c15a97ade92f49072cfe94f11da1f3ec413f8f47453714aee591b9ede79259cc&ipo=images" alt="The Big Three">
        

       
        <h2>We are the <span class="typed" data-typed-items=" Silicon Valley of VVCE"></span></h2>
        <div class="actions">
          <a href="https://oslvvce.com/" target="_blank" class="btn-get-started">Visit Us</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">About Us</h3>
            <div class="section-title-divider"></div>
            <h3 class="section-description">We are Open Source Lab. We do Awesome Things!</h3><br><br>
          </div>
        </div>
      </div>
      <div class="container about-container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">

          <div class="col-lg-6 about-img">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Favatars3.githubusercontent.com%2Fu%2F43202601%3Fs%3D400%26v%3D4&f=1&nofb=1&ipt=a73fcfd15d7b2fa8f9be2f1be89ec1a80164a2497270c20fd405acc91da47a73&ipo=images" alt="">
          </div>

          <div class="col-md-6 about-content">
            <h2 class="about-title">We Provide Workspace for the Innovative Minds</h2><br><br>
            <h4 class="about-text">
              OSL, a student-run community with over 20+ members from Vidyavardhaka College of Engineering, Mysuru, over the last 2 years, has helped 100+ passionate students to transform into successful & innovative engineers who today work across the world in Fortune 500 Companies loving what they do.
            </h4>
            <!-- <p class="about-text">
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
              id est laborum
            </p>
            <p class="about-text">
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt molli.
            </p> -->
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
  

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Developer Team</h3>
            <div class="section-title-divider"></div>
            <h6 style="color: #7AD7F0;" class="section-title">The Big Three</h6>
        </div>

        

        <div class="row">
          <div class="col-md-4">
            <div class="member">
              <div class="pic"><img src="static/asset/img/team/soil.jpeg" alt="" height="300px" width="275px"></div>
              <h4>Sahil Jain</h4>
              <span>Satoru Gojo</tspan>
              <div class="social">             
                <a href="https://www.instagram.com/sahil1733jain/" target="_blank"><i class="bi bi-instagram" style=" font-size: 25px"></i></a>
                <a href="https://www.linkedin.com/in/sahil-jain-90aab5215/" target="_blank"><i class="bi bi-linkedin"  style=" font-size: 25px" ></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="member">
              <div class="pic"><img src="static/asset/img/team/me.jpeg" alt="" height="450" ></div>              
              <h4>Kunal S</h4>
              <span>Imperial X</span>
              <div class="social">
                <a href="https://www.instagram.com/__.k.u.n.a.l._s_/" target="_blank"><i class="bi bi-instagram" style=" font-size: 25px"></i></a>
                <a href="https://www.linkedin.com/in/kunal--s/" target="_blank"><i class="bi bi-linkedin" style=" font-size: 25px"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="member">
              <div class="pic"><img src="static/asset/img/team/cbg.jpeg" alt="" height="300px"></div>
              <h4>Chandan B Gowda</h4>
              <span>JoyBoy</span>
              <div class="social">
                <a href="https://www.instagram.com/_zumph_/" target="_blank"><i class="bi bi-instagram" style=" font-size: 25px"></i></a>
              <a href="https://www.linkedin.com/in/chandan-b-gowda-042b31192/" target="_blank"><i class="bi bi-linkedin" style=" font-size: 25px"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Contact Us</h3>
            <div class="section-title-divider"></div>
          </div>
        </div>
        
          <section class="py-5 mt-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2 class="display-6 fw-bold mb-4">Got any <span class="underline">questions</span>?</h2>
                        <p class="text-muted">Our team is always here to help. Send us a message and we'll get back to you shortly.</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div>
                            <form  class="p-3 p-xl-4" action = "https://formspree.io/f/xjvzjnrr" method = "post" enctype="multipart/form-data">
                                <div class="mb-3"><input class="shadow form-control" type="text" id="name-1" name="name" placeholder="Name"></div>
                                <div class="mb-3"><input class="shadow form-control" type="email" id="email-1" name="email" placeholder="Email"></div>
                                <div class="mb-3"><textarea class="shadow form-control" id="message-1" name="message" rows="6" placeholder="Message"></textarea></div>
                                <div><button class="btn btn-primary shadow d-block w-100" type="submit">Send </button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/asset/vendor/aos/aos.js"></script>
  <script src="static/asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/asset/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/asset/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/asset/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/asset/vendor/typed.js/typed.min.js"></script>
  <script src="static/asset/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/asset/js/main.js"></script>

</body>

</html>